{% extends "AppCC/origen.html" %}

{% load static %}

{% block titulo1 %}Creando desde la Intencion{% endblock %}
{% block titulo2 %}Con Codigo{% endblock %}
{% block titulo3 %}Logistica & Distribucion{% endblock %}

{% block datos %}

<!-- Team Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Como podemos ayudarlo?</h6>
            <h1 class="mb-4">Conozca Nuestros Servicios</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-5">
                    <img class="card-img-top" src="img/team-1.jpg" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">Materiales para la construccion</h5>
                            <span>Venta al por menor</span>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class='fas fa-comments-dollar' style='font-size:24px'></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="{% url 'contacto' %}"><i class='fas fa-phone-square-alt' style='font-size:24px'></i></a>
                            <!-- <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a> -->
                            <a class="btn btn-outline-dark btn-social" href="{% url 'ventaminorista' %}"><i class='fas fa-info' style='font-size:24px'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-5">
                    <img class="card-img-top" src="img/team-2.jpg" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">Transporte y Logistica</h5>
                            <span>Seguridad, rapidez y confianza</span>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class='fas fa-file-invoice-dollar' style='font-size:24px'></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="{% url 'contactotransp' %}"><i class='fas fa-phone' style='font-size:24px'></i></a>
                            <a class="btn btn-outline-dark btn-social" href="{% url 'transporte' %}"><i class='fas fa-shipping-fast'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-5">
                    <img class="card-img-top" src="img/team-3.jpg" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">Abastecimiento desde fabrica</h5>
                            <span>Venta al por mayor</span>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class='fas fa-dolly' style='font-size:24px'></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="{% url 'contactodist' %}"><i class='fas fa-comments' style='font-size:24px'></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="{% url 'ventamayorista' %}"><i class='fas fa-users' style='font-size:24px'></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team card position-relative overflow-hidden border-0 mb-5">
                    <img class="card-img-top" src="img/team-4.jpg" alt="">
                    <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">Gestion Empresarial</h5>
                            <span>Ordenamiento y transparencia</span>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="{% url 'contacto' %}"><i class='fas fa-warehouse' style='font-size:24px'></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="{% url 'contacto' %}"><i class='fas fa-poll' style='font-size:24px'></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="{% url 'contacto' %}"><i class='fas fa-search-location' style='font-size:24px'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Calidad</h6>
            <h1 class="mb-4">Nuestros Productos</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid rounded-circle" src="img/testimonial-1.jpg" style="width: 60px; height: 60px;" alt="">
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Linea Loma Negra</h6>
                        <small>- Cemento Portland</small><br>
                        <small>- Cal Max x 30 Kg</small><br>
                        <small>- Cal Plus x 20 Kg</small><br>
                        <small>- Plasticor</small>
                    </div>
                </div>
                
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid rounded-circle" src="img/testimonial-2.jpg" style="width: 60px; height: 60px;" alt="">
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Ceramica Ctibor</h6>
                        <small>- Ladrillo Hueco</small><br>
                        <small>- Ladrillo Portante</small><br>
                        <small>- Ladrillo Comun</small><br>
                    </div>
                </div>
                
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid rounded-circle" src="img/testimonial-3.jpg" style="width: 60px; height: 60px;" alt="">
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Productos Tensolite</h6>
                        <small>- Viguetas pretensadas</small><br>
                        <small>- Bloques de Hormigon</small><br>
                        <small></small><br>
                    </div>
                </div>
                
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <img class="img-fluid rounded-circle" src="AppCC\img\arena2.jpg" style="width: 60px; height: 60px;" alt="">
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Aridos</h6>
                        <small>- Arena</small><br>
                        <small>- Piedra</small><br>
                        <small>- Escombro</small><br>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Noticias</h6>
            <h1 class="mb-4">Ultimas Novedades</h1>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="img/blog-1.jpg" alt="">
                    <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                        style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                        <h4 class="font-weight-bold mb-n1">11</h4>
                        <small class="text-white text-uppercase">Jul</small>
                    </div>
                </div>
                <div class="bg-secondary" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <!-- <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 40px; height: 40px;" src="img/user.jpg" alt="">
                            <a class="text-muted ml-2" href="">John Doe</a>
                        </div>
                        <div class="d-flex align-items-center ml-4">
                            <i class="far fa-bookmark text-primary"></i>
                            <a class="text-muted ml-2" href="">Web Design</a>
                        </div> -->
                    </div>
                    <h4 class="font-weight-bold mb-3">Indices FADEEAC de Junio</h4>
                    <p>Informe FADEEAC: en junio, el Índice de Costos del Transporte aumentó 8,51% y ya acumula una suba del 48,6%</p>
                    <a class="border-bottom border-primary text-uppercase text-decoration-none" href="http://www.camionesybuses.com.ar/informe-fadeeac-en-junio-el-indice-de-costos-del-transporte-aumento-851-y-ya-acumula-una-suba-del-486-202211533/">Saber Mas <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="img/blog-2.jpg" alt="">
                    <div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle"
                        style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
                        <h4 class="font-weight-bold mb-n1">16</h4>
                        <small class="text-white text-uppercase">May</small>
                    </div>
                </div>
                <div class="bg-secondary" style="padding: 30px;">
                    <div class="d-flex mb-3">
                        <!-- <div class="d-flex align-items-center">
                            <img class="rounded-circle" style="width: 40px; height: 40px;" src="img/user.jpg" alt="">
                            <a class="text-muted ml-2" href="">John Doe</a>
                        </div>
                        <div class="d-flex align-items-center ml-4">
                            <i class="far fa-bookmark text-primary"></i>
                            <a class="text-muted ml-2" href="">Web Design</a>
                        </div> -->
                    </div>
                    <h4 class="font-weight-bold mb-3">Reapertura de creditos procrear</h4>
                    <p>El Ministerio de Desarrollo Territorial y Hábitat anunció la apertura de inscripciones para Lotes con Servicios</p>
                    <a class="border-bottom border-primary text-uppercase text-decoration-none" href="https://www.argentina.gob.ar/noticias/el-ministerio-de-desarrollo-territorial-y-habitat-anuncio-la-apertura-de-inscripciones-para">Saber Mas <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

{% endblock %}