{% extends "AppCC/origen.html" %}

{% load static %}

{% block login %}

    <h1 style="background-color: rgba(227, 44, 44, 0.854);">{{mensaje}}</h1>
    <br>
    <button><a href=""> Cerrar sesion </a></button>
    <form action="" method="POST">{% csrf_token %}
        
        {{form.as_p}}

        <button type="submit">Iniciar Sesion</button>
        

    </form>

    <button><a href="{% url 'Register' %}"> REGISTRARSE </a></button>

    <button><a href="{% url 'Login' %}">Volver a intentar</a></button>

{% endblock %}