{% extends "AppCC/origen.html" %}

{% load static %}

{% block cont %}
<a href="{% url 'contactocorr' %}" class="nav-item nav-link">Contacto</a>
{% endblock %}

{% block datos %}
    <section data-section="section1">   
        <div class="row">
            <div class="col-md-12 search">
                
                {% for p in presup %}

                <li>{{p}}</li>                
                <button>
                    <a href="#">Eliminar</a>
                </button>                                    
                {% endfor %}
             
            </div>
                <a href="{% url 'presupuestos' %}">  Cargar presupuesto </a>
        </div>
    </section>
 
<!-- Quote Request Start -->    

{% endblock %}

