{% extends "AppCC/origen.html" %}

{% load static %}

{% block datos %}

    <h1>Productos disponibles</h1>
    <ul>
        {% for producto in object_list %}

            <li>
                <p>NOMBRE: {{ producto.nombre }}</p>
                <p>
                    <a href="{% url 'Detail' producto.id %}">Ver</a> |
                    <a href="{% url 'Edit' producto.id %}">Editar</a> |
                    <a href="{% url 'Delete' producto.id %}">Borrar</a> |
                    
                </p>
            </li>
        {% endfor %}
        <a href="{% url 'buscarproddist' %}">Buscar producto</a>
    </ul>


{% endblock %}